.ddsmoothmenu{
	width:960px;
	height: 41px;
	background:url(../images/h-menu.png) left top;
	position:relative;
	border-radius:4px;
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding-left: 4px;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li.first {
	background:none;
	padding-left:0;
}

.ddsmoothmenu ul li{
	float:left;
	background: url(../images/h-menu-sep.png) left top no-repeat;
	padding-left: 2px;
	position: relative;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	color:#fff;
	font-size:14px;
	display:block;
	padding: 12px 20px;
	margin: 0 2px;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a.active { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background:#505152 url(../images/h-menu-hover.png) left top repeat-x;
}
	
/* sub menus */
.ddsmoothmenu ul li ul{
	left: -3000px;
	display: none;
	width:200px;
	position:absolute;
	padding:1px;
	background: #454848;
	border: 2px solid #aaa;
	z-index:10;
}

/*Sub level menu list items (alters style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
	display: list-item;
	float: none;
	border-top:1px solid #aaa;
	background:none !important;
}

.ddsmoothmenu ul li ul li:first-child {
	border-top:none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
	top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font: normal 13px Verdana;
	width: 180px; /*width of sub menus*/
	padding: 10px;
	margin:3px 2px;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
	background:url(../images/down.gif) no-repeat;
	position: absolute;
	top: 17px;
	right: 7px;
	height:8px;
	width:11px;
}

.rightarrowclass{
	position: absolute;
	top: 6px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ 
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: #ccc; /* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

.toplevelshadow{
	margin: 5px 0 0 5px; /* in NON CSS3 capable browsers gives the offset of the shadow */
	opacity: 0.8; /* shadow opacity mostly for NON CSS3 capable browsers. Doesn't work in IE */
}

.ddcss3support .ddshadow.toplevelshadow {
	margin: 0; /* in CSS3 capable browsers overrides offset from NON CSS3 capable browsers, allowing the box-shadow values in the next selector to govern that */
	/* opacity: 1; */ /* optionally uncomment this to remove partial opacity for browsers supporting a box-shadow property which has its own slight gradient opacity */
}

.ddcss3support .ddshadow {
	background-color: transparent;
	box-shadow: 5px 5px 5px #aaa; /* box-shadow color generally should be a little darker than that for the NON CSS3 capable browsers background-color */
	-moz-box-shadow: 5px 5px 5px #aaa;
	-webkit-box-shadow: 5px 5px 5px #aaa;
}